# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Виртуальное окружение
venv/
env/
.venv/
.venv312/
build/
dist/
test_files

# Файлы с секретами
.env

# Редакторы
.vscode/
.idea/

# MacOS
.DS_Store
*.spec
dubbing_manager.log
/Output
*.iss
*.bak
*.log
*.tmp
QWEN.md
.qwen/
